body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

main {
  padding: 1rem;
}

#city-input {
  text-align: center;
}

input {
  border-radius: 15px;
  height: 2rem;
  color: #000;
  font-weight: 400;
  font: "Fira Sans", sans-serif;
}

.jumbotron {
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
}

.userInputContainer {
  justify-items: center;
  align-items: center;
  min-width: 100%;
  min-height: 5rem;
  max-height: 25%;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
}

.current-day-container {
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  padding: 1rem;
  font: "Fira Sans", sans-serif;
  text-align:left;
  font-size: 1rem;
  min-width: 12%;
  max-width: 30%;
  min-height: 10%;
  background-color: rgb(171, 171, 171, .5);
  border-radius: 25px;
}

#tempF, #windMph, #humidity, #uvi {
  text-align: end;
  font-size: 1.15rem;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;

  margin-right: 3%;
  padding: 1rem;
  min-width: 50%;
  max-width: 50%;
  min-height: 10%;
  background-color: rgb(171, 171, 171, 0.5);
}

table {
  border-collapse: collapse;
}

th, td {
  width: 150px;
  padding:5px;
  text-align:center;
}

.forecast-title {
  max-width: 90%;
  display: flex;
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: #ff79e0;
}

.search-history-container {
  display: flex;
  margin: .5rem;
  min-height: 10%;
}

.card {
  border-radius: 25px;
  background-color: rgb(171, 171, 171, 0.5);
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.search-history-item {
  border-radius: 15px;
  height: 2rem;
  width: 5rem;
  padding: .479;
  display: list-item;
  margin: auto;
  font: "Fira Sans", sans-serif;
  background-color: #FFFFFF;
  color: #000;
  font-weight: 400;
}


.twilight {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 100%, #EE82EE 0%, #0000FF 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 100%, #EE82EE 0%, #0000FF 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 100%, #EE82EE 0%, #0000FF 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 100%, #EE82EE 0%, #0000FF 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 100%, #EE82EE 0%, #0000FF 100%);

    color: #FFFFFF;
}

.morning {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 100%, #FFF9A2 0%, #FFDAEF 15%, #0090FF 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 100%, #FFF9A2 0%, #FFDAEF 15%, #0090FF 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 100%, #FFF9A2 0%, #FFDAEF 15%, #0090FF 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 100%, #FFF9A2 0%, #FFDAEF 15%, #0090FF 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 100%, #FFF9A2 0%, #FFDAEF 15%, #0090FF 100%);

    color: #000;
}

.daytime {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 0%, #FFF300 2%, #FFFFFF 10%, #0090FF 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 0%, #FFF300 2%, #FFFFFF 10%, #0090FF 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 0%, #FFF300 2%, #FFFFFF 10%, #0090FF 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 0%, #FFF300 2%, #FFFFFF 10%, #0090FF 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 0%, #FFF300 2%, #FFFFFF 10%, #0090FF 100%); 
    
    color: #112245;
}

.dusk {
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 0% 100%, #FFF300 8%, #FF1BCA 35%, #0090FF 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 0% 100%, #FFF300 8%, #FF1BCA 35%, #0090FF 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 0% 100%, #FFF300 8%, #FF1BCA 35%, #0090FF 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 0% 100%, #FFF300 8%, #FF1BCA 35%, #0090FF 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 0% 100%, #FFF300 8%, #FF1BCA 35%, #0090FF 100%);

  color: #FFFFFF;
}

.night {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 100%, #02006B 8%, #474D9E 91%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 100%, #02006B 8%, #474D9E 91%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 100%, #02006B 8%, #474D9E 91%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 100%, #02006B 8%, #474D9E 91%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 100%, #02006B 8%, #474D9E 91%);

    color: #FFFFFF;
}
